<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" href="javascript:void(0);">
                        <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{ username }}</strong>
                        </span> <span class="text-muted text-xs block">User <b class="caret"></b> </span> </span> </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="{{ url_for('user.profile') }}">Profile</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:signOut();">Logout</a></li>
                    </ul>
                </div>
            </li>
            {%- for _menu in mymenu -%}
            <li{{ (' class="active"' if _menu.get('active') else '') | safe }}>
                {%- if _menu['type'] == 0 %}
                    <a href="{{ _menu['url'] }}"><i class="{{ _menu['icon'] }}"></i><span class="nav-label">{{ _menu['name'] }}</span></a>
                {% else %}
                    <a href="javascript:void(0);"><i class="{{ _menu['icon'] }}"></i> <span class="nav-label">{{ _menu['name'] }}</span><span class="fa arrow"></span></a>
                {% endif %}
                {%- if _menu['type'] == 1 -%}
                    <ul class="nav nav-second-level collapse">
                        {%- for _child in _menu['children'] %}
                        <li{{ (' class="active"' if _child.get('active') else '') | safe }}><a href="{{ _child['url'] }}" target="{{ _child['target'] }}"><i class="{{ _child['icon'] }}"></i> {{ _child['name'] }}</a></li>
                        {%- endfor %}
                    </ul>
                {%- endif %}
            </li>
            {%- endfor %}
        </ul>
    </div>
</nav>
