{% extends 'include/base.html' %}
{% block title %}Openldap - 编辑主机组{% endblock %}
{% block head %}{{ super() }}
<script>
var hosts_table_prop = {
    url: "{{ url_for('.hosts_table') }}",
    width: "420px",
    order_by: "id",
    after_query: "afterQuery"
};
var hosts_table_col = [
    {title: "<input type='checkbox' style='margin:0;' id='selectall'>", width: "70px", js: 'colCheckbox'},
    {title: "主机名", prop: "cn", align: "left", width: "200px"},
    {title: "IP 地址", prop: "ipHostNumber", align: "left", width: "150px"}
];

function afterQuery(data) {
    mj.checkbox.buildSelectAll("selectall", "chk");
    // restore selections
    mj.checkbox.setVal('chk', '{{ uniqueMember | join(",") }}');
}

function colCheckbox(row) {
    return "<input type='checkbox' style='margin:0;' name='chk' id='chk" + row.cn + "' value='" + row.cn + "'>";
}

function getBack() {
    location.href = "{{ url_for('openldap.host_groups_page') }}";
}

function toSubmit() {
    $.mj_confirm("Confirm to submit?", function() {
        $('#unique_member').val(JSON.stringify(mj.checkbox.getVal('chk')));
        $("#editHostGroupFrom").mj_submit('POST', "{{ url_for('openldap.host_groups_save') }}", function(result) {
            if (result !== 'success') {
                $.mj_alert(result, null, 'error');
            } else {
                $.mj_alert("Saved successfully!", getBack, 'success');
            }
        });
    });
}

function toCancel() {
    $.mj_confirm("Confirm to cancel?", getBack);
}

$(document).ready(function() {
    $('#hosts_table').mj_preloadTable();
    $('#hosts_table').mj_query();
});
</script>
{% endblock %}
{% block content %}
<form id="editHostGroupFrom">
    <input type="hidden" id="opt" name="opt" value="EDIT">
    <input type="hidden" id="unique_member" name="unique_member" value="">
    <div class="tab-pane in active">
        <div class="panel panel-default" style="padding: 20px 30px 0 0;">
            <dl class="dl-horizontal">
                <dt>主机组:</dt>
                <dd>
                    <input type="text" class="form-control has-error" id="cn" name="cn" value="{{ cn | default('') }}" style="width: 300px;" disabled>
                </dd>
            </dl>
        </div>
    </div>
</form>
{{ table.build('hosts_table', allow_paging='false') }}
<button type="button" class="btn btn-primary" onclick="toSubmit()">Submit</button>
<button type="button" class="btn btn-default" onclick="toCancel()">Cancel</button>
{% endblock %}
